<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tetris</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Tetris
      </h1>
    </header>

    <main>
      <div>
        Score: <span id="score"></span>
      </div>
           
      <canvas id="game" class="board" width="300" height="660"></canvas>
     
      <div class="controls">        
        <div>   
          <button class="control">Rotate Left</button>
          <button class="control">V</button>
          <button class="control">Rotate Right</button>
        </div>
      </div>      
      <div class="controls">   
        <div>   
          <button class="wide-control">&lt;</button>
          <button class="wide-control">&gt;</button>
        </div>       
      </div>
      
      <div>
        <ul>
          <li>LEFT: A, RIGHT: D, DOWN: S</li>
          <li>ROTATE LEFT: Q, ROTATE RIGHT: E</li>
        </ul>
      </div>
    </main>
    

    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
