/* styles */
/* called by your view template */

#game {
  border: 1px solid black;
}

.board {
  height: 65vh;
}

.controls {
  width: 375px;
  
}

.control {
  width: 33%;
  height: 5vh;
  max-width: 100px;
}

.wide-control {  
  width: 49%;
  height: 5vh;
}


* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: #373fff;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
